/* 
font-family: 'Akshar', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Source Sans Pro', sans-serif; 
*/

.home-component{
    background-image: linear-gradient(#BFEDEF, white);
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

    font-family: 'Montserrat', sans-serif;
}

.home-img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.info{
    margin: 20px 0;
}

.body-section{
    margin-top: 25px;
    font-family: 'Akshar', sans-serif;
}

.skills-list{
    display: flex;
    justify-content: space-evenly;
}

.home-list{
    list-style: none;
}